Options +FollowSymLinks -Indexes

RewriteEngine On                                                                                                                                                                                                                              
                                                                                                                                                                                                                                              
RewriteCond %{HTTP_HOST} ^(www.)?eurovikna2/$                                                                                                                                                                                    
RewriteCond %{REQUEST_URI} !^/public/                                                                                                                                                                                                             
RewriteCond %{REQUEST_FILENAME} !-f                                                                                                                                                                                                           
RewriteCond %{REQUEST_FILENAME} !-d                                                                                                                                                                                                           
RewriteRule ^(.*)$ /public/$1                                                                                                                                                                                                                     
                                                                                                                                                                                                                                              
RewriteCond %{HTTP_HOST} ^(www.)?eurovikna2$                                                                                                                                                                                    
RewriteRule ^(/)?$ public/index.html [L]
